html, body {
    height:100%;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
.wrapper {
    display: flex;
    min-height: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
}
.container {
    max-width: 945px;
    margin: 0 auto;
    min-height: 100%;
}
@media (max-width: 1200px) {
    .container {
        max-width: 945px;
        margin: 0 auto;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 680px;
        margin: 0 auto;
    }
}
@media (max-width: 690px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }
}

/* -------------------------------- HEADER BLOCK -------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    z-index: 2;
}
.header__burger {
    display: none;
}
.header__burger_span {
}
.header__menu {
    flex: 1 1 auto;
}
.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__list_link {
    font-size: 18px;
    font-weight: bold;
    color: #5a5a5a;
    text-decoration: none;
}
.header__links {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header__link {
    margin-right: 50px;
}
.header__link:last-child {
    margin-right: 0;
}
.header__link_img {
    width: 40px;
    height: 40px;
    transition: all 0.4s ease 0s;
    position: relative;
    top: 0;
}
.header__link_img:hover {
    top: -5px;
}
.header__link_img:first-child {
    border-radius: 10px;
}

@media (max-width:767px){
    body.lock_bur {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
        justify-content: flex-end;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        margin-right: 20px;
    }
    .header__burger_span {
        position: absolute;
        background-color: rgb(75, 75, 75);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        background-color: rgb(75, 75, 75);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(255, 255, 255, 0.95);
        padding: 100px 10px 20px 40px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list_li {
        margin-bottom: 20px;
    }
    .header__list_link {
        font-size: 28px;
    }
    .header__links {
        display: none;
    }
}

/* -------------------------------- END HEADER BLOCK -------------------------------- */
/* -------------------------------- CONTENT BLOCK -------------------------------- */

.content {
    flex: 1 1 auto;
    z-index: 5;
    background-color: rgb(255, 255, 255);
}
.title {
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #000;
}

/* -------------------------------- HOME BLOCK -------------------------------- */
.home__row {
    height: 110vh;
}
.home__bg {
    height: 100%;
    background: fixed url(/../images/photo/3.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.home__body{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: fixed;
    z-index: 2;
}
.home__title_h1 {
    font-size: 44px;
    line-height: 48px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.home__footer {
    z-index: 4;
    height: 150px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
@media (max-width:770px){
    .home__bg {
    height: 100%;
    width: 100%;
    background: url(/../images/photo/3.jpg) center no-repeat;
}
.home__content {
    position: static;
}
/* -------------------------------- END HOME BLOCK -------------------------------- */




/* -------------------------------- END CONTENT BLOCK -------------------------------- */
/* -------------------------------- FOOTER BLOCK -------------------------------- */

.footer__row {
    background-color: #5a5a5a;
}

/* -------------------------------- END FOOTER BLOCK -------------------------------- */
