html, body {
    height:100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(21, 31, 39);
}
.wrapper {
    display: flex;
    min-height: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
}
.content {
    flex: 1 1 auto;
    z-index: 5;
    background-color: rgb(21, 31, 39);
}
.title {
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #fff;
}
.container {
    max-width: 945px;
    margin: 0 auto;
    min-height: 100%;
}
@media (max-width: 1200px) {
    .container {
        max-width: 945px;
        margin: 0 auto;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 680px;
        margin: 0 auto;
    }
    .title {
        padding-top: 0;
    }
}
@media (max-width: 690px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }
}

/* -------------------------------- HEADER BLOCK -------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 31, 39, 0.5);
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    z-index: 2;
}
.header__burger {
    display: none;
}
.header__menu {
    flex: 1 1 auto;
}
.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__list_link {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.header__list_link:hover {
    color: #000;
}
.header__links {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}
.header__link {
    margin-right: 50px;
}
.header__link:last-child {
    margin-right: 0;
}
.header__link_img {
    width: 40px;
    height: 40px;
    transition: all 0.4s ease 0s;
    position: relative;
    top: 0;
}
.header__link_img:hover {
    top: -5px;
}
.header__link_img:first-child {
    border-radius: 10px;
}

@media (max-width:767px){
    body.lock_bur {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
        justify-content: flex-end;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        margin-right: 20px;
    }
    .header__burger_span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(21, 31, 39, 0.9);
        padding: 100px 10px 20px 40px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list_li {
        margin-bottom: 20px;
    }
    .header__list_link {
        font-size: 28px;
    }
    .header__links {
        display: none;
    }
}

/* -------------------------------- END HEADER BLOCK -------------------------------- */
/* -------------------------------- HOME BLOCK -------------------------------- */
.home__row {
    height: 110vh;
}
.home__bg {
    height: 100%;
    background: fixed url(/../images/photo/3.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.home__body{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(21, 31, 39, 0.3);
    border-radius: 10px;
    position: fixed;
    z-index: 2;
}
.home__title_h1 {
    font-size: 44px;
    line-height: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.home__footer {
    z-index: 4;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.triangle1 {
    flex: 1 1 auto;
    border: 5em solid transparent;
    border-width: 0 1000px 200px 0;
    /* border-radius: 5px; */
    border-color: rgb(21, 31, 39) transparent;
}
.triangle2 {
    flex: 1 1 auto;
    border: 5em solid transparent;
    border-width: 0px 0px 200px 1000px;
    /* border-radius: 5px 5px; */
    border-color: rgb(21, 31, 39) transparent;
}
.triangle3 {
    z-index: 4;
    border: 5em solid transparent;
    border-width: 50px;
    width: 100%;
    /* border-radius: 5px; */
    border-color: rgb(21, 31, 39);
}
@media (max-width:770px){
    .home__bg {
    height: 100%;
    width: 100%;
    background: url(/../images/photo/3.jpg) center no-repeat;
    }
    .home__content {
        position: static;
    }
}

/* -------------------------------- END HOME BLOCK -------------------------------- */
/* -------------------------------- CONTENT BLOCK -------------------------------- */
/* -------------------------------- ABOUT BLOCK -------------------------------- */

.about__body {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.about__text {
    flex: 1 0 75%;
    order: 2;
}
.about__text_p {
    padding: 0 10px 20px;
    text-align: left;
}
.about__text_p:last-child {
    padding-bottom: 0;
}
.about__image {
    order: 1;
    flex: 1 1 25%;
    margin: 5px;
}
.about__image_img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 992px) {
    .about__body {
        flex-direction: column;
    }
    .about__text {
        flex: 1 1 auto;
        margin: 0 15px;
    }
    .about__text_p {
        text-align: justify;
    }
    .about__image {
        align-self: center;
        flex: 0 1 auto;
        max-height: 300px;
        overflow: hidden;
        width: fit-content;
    }
    .about__image_img {
        max-height: 300px;
        object-fit: contain;
    }
}


/* -------------------------------- END ABOUT BLOCK -------------------------------- */
/* -------------------------------- SKILLS BLOCK -------------------------------- */

.skills__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.triangle5 {
    flex: 1 1 auto;
    border: 5em solid transparent;
    border-width: 200px 1000px 0 0;
    /* border-radius: 5px; */
    border-color: rgb(21, 31, 39) transparent;
}
.triangle6 {
    flex: 1 1 auto;
    border: 5em solid transparent;
    border-width: 200px 0px 0 1000px;
    /* border-radius: 5px 5px; */
    border-color: rgb(21, 31, 39) transparent;
}
.triangle4 {
    flex: 1 1 auto;
    border: 5em solid transparent;
    border-width: 50px;
    /* border-radius: 5px; */
    border-color: rgb(21, 31, 39);
}
.skills {
    background-color: #fff;
    position: relative;
}
.skills__box {
    width: 100%;
    height: 100%;
    position: relative;
}
.skills__row {
    display: flex;
    flex-direction: column;

}
.skills__title {
    color: #5a5a5a;
}
.skills__body {
    padding-bottom: 50px;
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
}
.skills__item {
    flex: 1 1 calc((100% / 3) - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 992px) {
    .skills__item {
        flex: 1 1 calc((100% / 2) - 20px);
    }
}
@media (max-width: 690px) {
    .skills__item {
        flex: 1 1 100%;
    }
}
.item__image {
    align-self: center;
    flex: 1 1 auto;
    display: flex;
    margin: 10px;
}
.item__image_img {
    max-width: 89px;
    transition: all 0.4s ease 0s;
    position: relative;
    top: 0;
}
.item__text_p {
    color: #5a5a5a;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.skills__item:hover .item__text_p {
    color: #000;
}
.skills__item:hover .item__image_img {
    top: -5px;
}
.skills__footer {
    z-index: 4;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* -------------------------------- END SKILLS BLOCK -------------------------------- */
/* -------------------------------- WORKS BLOCK -------------------------------- */

.work__row {
    padding-bottom: 100px;
}
.swiper-container {
    position: relative;
    width: 100%;  
    min-height: fit-content;
    overflow: hidden;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.swiper-slide-img {
    max-height: 70%;
    width: 90%;
}
.swiper-body{
    padding: 10px 35px 50px 15px;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.swiper-title {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #fff;
}
.swiper-text {
    font-size: 24px;
    line-height: 26px;
    color: #fff;
    padding-bottom: 15px;
}
.swiper-link{
    display: flex;
}
.swiper-site {
    padding-right: 30px;
    padding-bottom: 10px;
}
.site{
    font-size: 22px;
    line-height: 24px;
    color: #fff;
}
@media (max-width: 992px) {
    .swiper-title {
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
        padding-bottom: 15px;
    }
    .swiper-text {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .swiper-site {
        padding-bottom: 5px;
    }
    .site{
        font-size: 16px;
        line-height: 18px;
    }
}

/* -------------------------------- END WORKS BLOCK -------------------------------- */
/* -------------------------------- END CONTENT BLOCK -------------------------------- */
/* -------------------------------- FOOTER BLOCK -------------------------------- */

.footer {
    z-index: 5;
    background-color: #fff;
}
.footer__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.footer__title {
    color: #000;
}
.footer__button {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    max-width: 300px;
    width: 100%;
}
.popup-link {
    text-decoration: none;
    margin: 0 20px;
    padding: 0 20px;
    width: 100%;
    min-height: 40px;
    border-radius: 30px;
    background-color: rgb(65, 65, 65);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sn__images {
    display: flex;
    justify-content: space-around;
}
.sn__image {
    margin-right: 50px;
}
.sn__image:last-child {
    margin-right: 0;
}
.sn__image_img {
    width: 40px;
    height: 40px;
}
.sn__text {
    margin-top: 50px;
    color: #828282;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
}
.sn__text_p {
    text-align: center;
}
@media (max-width: 992px) {
    .footer__title {
        padding-top: 50px;
    }
}

/* -------------------------------- END FOOTER BLOCK -------------------------------- */
/* -------------------------------- POPUP BLOCK -------------------------------- */

.popup {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 55;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8 ease 0s;
}
.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content {
    opacity: 1;
    transform: translate(0px, 0px);
}
.popup__body {
    min-height: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup__cl {
    max-height: 40px;
}
.popup__close {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
}
.popup__close::before, .popup__close::after {
    content: "";
    background-color: rgb(75, 75, 75);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.popup__close::before {
    transform: rotate(45deg);
    top: 9px;
}
.popup__close::after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.close-popup {
}
.popup__close_span {
}

/* -------------------------------- END POPUP BLOCK -------------------------------- */
